export(compute_LC_coords)
export(compute_LICORS_loglik)
export(compute_margin_coords)
export(compute_mixture_penalty)
export(compute_NEC)
export(data2LCs)
export(estimate_LC_pdf_given_state)
export(estimate_LC_pdfs)
export(estimate_state_adj_matrix)
export(estimate_state_probs)
export(get_LC_config)
export(get_spacetime_iterator)
export(image2)
export(initialize_states)
export(kmeanspp)
export(LC_coords2control_settings)
export(merge_states)
export(mixed_LICORS)
export(mv_wKDE)
export(normalize)
export(predict_FLC_given_PLC)
export(rdensity)
export(relabel_vector)
export(remove_small_sample_states)
export(search_knn)
export(setup_LC_geometry)
export(sparsify_weights)
export(states2weight_matrix)
export(threshold)
export(weight_matrix2states)
export(wKDE)
import(fields)
import(FNN)
import(itertools)
import(locfit)
import(mvtnorm)
import(RColorBrewer)
import(zoo)
S3method(plot,LC)
S3method(plot,mixed_LICORS)
S3method(summary,LC)
S3method(summary,mixed_LICORS)
